@import "tailwindcss";
@import "../styles/design.css";

@theme {
  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-900: #1e3a8a;
  
  --color-background: #ffffff;
  --color-foreground: #09090b; /* zinc-950 */
  --color-muted: #f4f4f5; /* zinc-100 */
  --color-muted-foreground: #71717a; /* zinc-500 */
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased selection:bg-brand-500 selection:text-white;
  }
}
